@page "/orders/details"
@using Microsoft.EntityFrameworkCore
@using ProductApp.Data
@inject IDbContextFactory<ProductApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>ПРОСМОТР</PageTitle>

<h1>Детали заказа</h1>

<div>
    <hr />
    @if (order is null)
    {
        <p><em>Загрузка...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Количество</dt>
            <dd class="col-sm-10">@order.Quantity</dd>
            <dt class="col-sm-2">Дата заказа</dt>
            <dd class="col-sm-10">@order.OrderDate</dd>
            <dt class="col-sm-2">Сумма</dt>
            <dd class="col-sm-10">@order.TotalCost</dd>
            <dt class="col-sm-2">Код товара</dt>
            <dd class="col-sm-10">@order.ProductId</dd>
        </dl>
        <div>
            <a href="@($"/orders/edit?orderid={order.OrderId}")">Изменить</a> |
            <a href="@($"/orders?productid=" + order.ProductId.ToString())">Вернуться к списку заказов</a>
        </div>
    }
</div>

@code {
    private Order? order;

    [SupplyParameterFromQuery]
    private int OrderId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        order = await context.Orders.FirstOrDefaultAsync(m => m.OrderId == OrderId);

        if (order is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
